{{#> layout}}
  {{#*inline "content"}}
    {{#each posts}}
      <article class="post-card">
        <h2><a href="{{this.slug}}.html">{{this.title}}</a></h2>
        {{#if this.publishedDate}}
          <time datetime="{{this.publishedDate}}">{{formatDate this.publishedDate}}</time>
        {{/if}}
      </article>
    {{/each}}
  {{/inline}}
{{/layout}}
