{{#> layout}}
  {{#*inline "content"}}
    <div class="container">
      <article class="post">
        <header class="post-header">
          <h1>{{post.title}}</h1>
          {{#if post.publishedDate}}
            <time datetime="{{post.publishedDate}}">{{formatDate post.publishedDate}}</time>
          {{/if}}
        </header>

        <div class="post-content">
          {{{post.content}}}
        </div>
      </article>
    </div>
  {{/inline}}
{{/layout}}
